<div class="container">
  <form [formGroup]="modelForm">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label for="server">Select Server:</label>
          <select class="form-control" id="server" formControlName="server" (change)="loadModelsAndFrames($event)">
            <option *ngFor="let instance of servers" [ngValue]="instance" [selected]="instance === getServer()">{{
              instance }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="form-group">
          <!--<label for="groupByModel">Group by Model:</label>-->
          <div class="list-group">
            <div *ngFor="let model of models">
              <span class="badge badge-secondary">{{ model.name }}</span>
              <div *ngFor="let frame of model.compatibleFrames">
                <button>{{ frame.name }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-lg-4">-->
      <!--<div class="form-group">-->
      <!--<label for="frame">Select Frame:</label>-->
      <!--<select class="form-control" id="frame" formControlName="frame">-->
      <!--<option *ngFor="let frame of frames" [ngValue]="frame" [selected]="frame === getFrame()">{{ frame.name }}-->
      <!--</option>-->
      <!--</select>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-lg-1">
        <div class="form-group" style="margin-top: 30px">
          <!--<button type="submit" class="btn btn-success">Select</button>-->
          <a routerLink="/model-frame-overview" class="btn btn-dark"
             [queryParams]="{server: getServer(), model_id: getModel().model_id, frame_id: getFrame().frame_id}">Summarize</a>
        </div>
      </div>
    </div>
  </form>
</div>
