<div class="container">
  <form [formGroup]="modelForm">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label for="server">Select Server:</label>
          <select class="form-control" id="server" formControlName="server" (change)="tryConnectAndLoadModels($event)">
            <option *ngFor="let instance of servers" [ngValue]="instance" [selected]="instance === getServer()">{{
              instance }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="form-group">
          <!--<label for="groupByModel">Group by Model:</label>-->
          <div class="list-group list-group-flush">
            <label for="server">Select Model and Frame:</label>
            <input class="form-control mb-2" type="text" placeholder="Filter Models and Frames" id="frameFilter" formControlName="frameFilter" (keyup)="filterFramesInModels($event)">
            <div class="border" *ngFor="let model of filteredModels">
              <h6 class="list-group-item">{{ model.name }}</h6>
              <div *ngFor="let frame of model.compatibleFrames">
                <a routerLink="/model-frame-overview" class="list-group-item list-group-item-action text-dark pl-5"
                   [queryParams]="{server: getServer(), model_id: model.name, frame_id: frame}">{{ frame }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
