<div class="container-fluid">
  <div class="form-group" *ngFor="let config of anchorConfig">
    <label for="anchor_tao">{{config.configName}}: </label>
    <input id="anchor_tao" class="form-control" type="number" *ngIf="config.inputType == '' || config.inputType == ''">
    <input id="anchor_tao" class="form-control" *ngIf="config.inputType == 'string'">
  </div>
  <div class="form-group" data-tip="tooltip">
    <label for="anchor_delta">Delta: </label>
    <input id="anchor_delta" class="form-control">
  </div>
</div>
