<div class="container">
  <form [formGroup]="selectForm" *ngIf="enumColumns !== null || metricColumns !== null" (ngSubmit)="onSubmit()">
    <button type="submit" class="btn btn-success mt-2 mb-2 float-right" style="width: 100%">Start analysis</button>
    <div *ngFor="let column of enumColumns">
      <label for="id_{{ getIdForColumn(column) }}">Select {{column}}:</label>
      <select class="form-control" id="id_{{ getIdForColumn(column) }}" formControlName="{{ getIdForColumn(column) }}">
        <option *ngFor="let condition of getEnumColumnsConditionsOf(column)"
                [ngValue]="condition">{{ condition.category }}
        </option>
      </select>
    </div>
    <div *ngFor="let column of metricColumns">
      <label for="id_{{ getIdForColumn(column) }}">Select {{column}}:</label>
      <select class="form-control" id="id_{{ getIdForColumn(column) }}" formControlName="{{ getIdForColumn(column) }}">
        <option *ngFor="let condition of getMetricColumnsConditionsOf(column)"
                [ngValue]="condition">{{
          condition.conditionMin + " <= " + condition.featureName + " < " + condition.conditionMax
          }}
        </option>
      </select>
    </div>
  </form>
</div>
