<div *ngFor="let column of columns">
  <!--<div class="row">-->
    <div class="col-lg-4">
      <!--<div class="col-lg-3">-->
      <div class="card-deck">
        <div class="card box-shadow">
          <div class="card-header">
            <h4 class="font-weight-normal">{{ column.label }}</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Test</li>
            </ul>
          </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  <!--</div>-->
</div>
