<div class="container-fluid">
  <div class="form-row mb-2 mt-2">
    <!--<div class="container-fluid">-->
    <app-anchor-algo-configuration class="col-9" (onConfigChange)="setAnchorConfig($event)"></app-anchor-algo-configuration>
    <div class="col-3 text-center align-bottom">
      <button type="submit" class="btn btn-success" (click)="runSP()">Run Submodular Pick</button>
    </div>
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-10">
      <app-global-model-explanation-tabular [anchors]="anchors"></app-global-model-explanation-tabular>
    </div>
    <div class="col-2">
      <label>Label</label>
    </div>
  </div>
</div>
