<div class="container-fluid">
  <ng2-smart-table [settings]="settings" [source]="source" class="table-responsive"></ng2-smart-table>

  <form #ruleSet="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="margin-top: 30px">
      <div class="float-right">
        <button type="submit" class="btn btn-success">Rule with random case selection</button>
      </div>
      <div class="float-right mr-2">
        <button type="submit" class="btn btn-success">Select case</button>
      </div>
    </div>
  </form>
</div>
