<div class="container-fluid">
  <ng2-smart-table [settings]="settings" [source]="source" class="table-responsive"></ng2-smart-table>
  <!--<div class="container">-->
  <!--<div class=" card-deck">-->
  <!--<div class="col-xl-3 col-lg-4  col-md-6 col-sm-6" *ngFor="let rule of rules">-->
  <!--<div class="card box-shadow mx-0 my-2">-->
  <!--<div class="card-header">-->
  <!--<h4 class="font-weight-normal">Rule</h4>-->
  <!--</div>-->
  <!--<div class="card-body">-->

  <!--<table class="table">-->
  <!--<tbody>-->
  <!--<tr>-->
  <!--<td>Prediction</td>-->
  <!--<td class="text-right">{{ rule.prediction }}</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>Coverage</td>-->
  <!--<td class="text-right">{{ rule.coverage }}</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>Precision</td>-->
  <!--<td class="text-right">{{ rule.precision }}</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td colspan="2">-->
  <!--<div class="cat-freq-table">-->
  <!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr class="h-25">-->
  <!--<th>Name</th>-->
  <!--<th class="text-right">Freq.</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let name of rule.names" class="cat-row">-->
  <!--<td>{{ name }}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td colspan="2">-->
  <!--<div class="cat-freq-table">-->
  <!--<table class="table table-striped">-->
  <!--<thead>-->
  <!--<tr class="h-25">-->
  <!--<th>Name</th>-->
  <!--<th class="text-right">Freq.</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let name of rule.instance" class="cat-row">-->
  <!--<td>{{ name }}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <form #selectModel="ngForm" (ngSubmit)="onSubmit()">
    <div class="col-lg-1">
      <div class="form-group" style="margin-top: 30px">
        <button type="submit" class="btn btn-success">New</button>
      </div>
    </div>
  </form>
</div>
