<div class="row">
  <div>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th *ngFor="let condition of anchorFeatures" scope="col">{{ condition.featureName + ':' + getFeatureConditionTitle(condition) }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rowIndex of rowRange">
        <th scope="row">Anchor {{ rowIndex }}</th>
        <td *ngFor="let column of globalAnchorTable[rowIndex]" [ngClass]="{'bg-primary': column == 1}">{{ (column || 0) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
