<div class="row">
  <div>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th *ngFor="let condition of anchorFeatures" scope="col">{{ condition.featureName }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">A1</th>
        <td class="bg-primary">1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">A1</th>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">A1</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
