<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <ng2-smart-table [settings]="settings" [source]="source" class="table-responsive"></ng2-smart-table>
    </div>

    <div class="col-2">
      <a routerLink="/global-model-explanation" class="btn btn-dark" style="width: 100%"
         [queryParams]="{server: server, model_id: model_id, frame_id: frame_id}">SP</a>
      <app-case-condition-select [columnsConditions]="columnConditions"
                                 (selectedConditions)="requestAnalyzation($event)"></app-case-condition-select>
    </div>
  </div>
</div>
