<div class="jumbotron text-center">
  <h1>MAvA: Model Analysis via Anchor</h1>
  <p>This application aims to retrieve the patterns that a machine learning model has learned and make them
    understandable to people.<br />
    In addition, there is the possibility of finding several useful "anchors" in an automatic process.</p>
  <p>The Anchors tool is used for this purpose.</p>
  <p>The data as well as the models must be made available via the ML platform H2O.</p>
  <p>Used libraries:</p>
  <a href="https://github.com/viadee/javaAnchorFrontend" target="_blank">javaAnchorFrontend</a> &nbsp;
  <a href="https://github.com/viadee/javaAnchorServer" target="_blank">javaAnchorServer</a> &nbsp;
  <a href="https://github.com/viadee/javaAnchorAdapters" target="_blank">javaAnchorAdapters</a> &nbsp;
  <a href="https://github.com/viadee/javaAnchorExplainer" target="_blank">javaAnchorExplainer</a>
</div>

<div class="col-12 mt-5">
  <app-select-model (connectionInfo)="selectedConnection($event)"></app-select-model>
</div>
