/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  /* margin: 0;*/
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin-left: 16px;
}
